/* hide scrollbar but allow scrolling */
.column {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.column::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* <======================Stock Devices Page======================> */
.stocklist{
  margin-top: 103px;
  position: fixed ;
   top: 0;
    left: 0;
    background-color: #D3D3D3;
}

.column{
  background-image:url('../images/rackview.jpg');
  /* border-radius: 200px solid #D3D3D3;   */
}

/* <======================DEVICE NAME OR TITLE======================> */

.deviceTitle{
  display: "flex"; 
  justify-content: "center";
   padding: 2;
   margin-top:-11px;
}

.deleteDevice{
  position: absolute;
  margin-top: -18px;
  right: 12px;
  left: 114%;
}